.bus-banner{
  max-width:800px;
  margin: 0 auto;
  h2{
    padding-top: 20px;
  }
}

.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile{
      border-top: 2px dashed @navigation-border;
      margin-top: 30px;
      flex-direction: column;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile{
        width: 100%;
        padding-top: 30px;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile{
        width: 100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile{
      padding-top: 30px;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile{
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      .btn{
        .buttons();
      }
      .btn:hover{
        .hover();
      }
      .btn:active{
        .active();
      }

      @media @mobile{
        width: 90%;
      }
    }
  }

  #fun_in_the_sunForm, #mountain_excursionForm, #island_getawayForm{
    display:none;
  }

  .sign-up-container{
    padding: 25px 0px;
    position: relative;
    display:flex;
    justify-content: center;
    // left: 50%;
    // margin-left: 225px;

    form{
      width: 450px;
      display:flex;
      flex-direction: column;
      border: 2px solid grey;
      border-radius: 5px;
      padding: 25px;
      background-color: grey;

      input, textarea{
        margin: 5px;
      }
      .button-interface{
        padding-top: 15px;
        display:flex;
        justify-content: space-evenly;

        .form-button{
          .buttons();
          padding: 0px 15px;
        }
        .form-button:hover{
          .hover();
        }
        .form-button:active{
          .active();
        }
      }
    }
  }
}// home