// Mixins in here
.buttons{
    background-color: #008080;
        margin: 0px 4rem 0px 0px;
        height: 4rem;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: white;
        font-size: 20px;
}

// animation

.hover{
    background-color: yellow;
    color: black;
}

.active{
    transform: translateY(-5px);
    font-size: 3rem;
}