// Navigation Styles here
nav{
    border-bottom: 2px dashed @navigation-border;

    @media @mobile{
        margin: 0 -15px;
    }

    .nav-container{
        max-width: 800px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 5px;
        
        @media @mobile{
            max-width: 500px;
            flex-direction: column;
            padding: 15px 5px;

        }
        
        
    
        .logo{
            width: 30%;
            @media @mobile{
                padding-bottom: 10px;
                text-align: center;
            }
            a{
                text-decoration: none;
            }
  
        }
        
        .nav-links{
            width:70%;
            display:flex;
            justify-content: flex-end;
            font-size: 1.5rem;

            @media @mobile{
                justify-content: space-between;
                width: 100%;
            }
            
            a{
                margin: 0px 15px;
                text-decoration: none;
            }
        }
    }

}